<div class="maAdminPosts-component">
    <h2>Vos articles</h2>
    <ma-post-table posts="$ctrl.posts"></ma-post-table>
    <h2>Nouvel article</h2>
    <p class="warning">ATTENTION : Faites attention à remplir tous les champs y compris la categorie. Laissez un champ vide pourrait éventuellement faire planter le serveur. A terme il y aura une vérification automatique bien entendu, mais en attendant il faut ouvrir l'oeil !</p>
    <form ng-submit="$ctrl.addPost()">
        <div class="form-control">
            <input type="test" ng-model="$ctrl.newPost.title" placeholder="Titre de votre article"/>
        </div>
        <div class="form-control">
            <select ng-model="$ctrl.newPost.category_id" ng-options="category.id as category.name for category in $ctrl.categories track by category.name">
                <option value="" disabled>- Choisissez une catégorie -</option>
            </select>
        </div>
        <div class="form-control">
            <input type="test" ng-model="$ctrl.newPost.summary" placeholder="En-tête de votre article"/>
        </div>
        <div class="form-control">
            <ma-text-editor model="$ctrl.newPost.body" on-change="$ctrl.changeBody(model)"></ma-text-editor>
        </div>
        <div class="form-control">
            <input type="submit" value="Publier l'article"/>
        </div>
    </form>
</div>
