.maSidebar-component
    width: 20vw
    ul
        position: fixed
        top: 0
        left: 0
        width: 18vw
        height: 100vh
        background: $dark
        padding: 12vh 0
        display: flex
        flex-direction: column
        justify-content: space-around
        color: $white
        height: 100%
        li
            padding: 15px 30px
            font-family: $font-title
            font-size: 1.1em
            position: relative
            &:hover
                color: $pink
            &.logout
                font-size: 1.2em

            &.active
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 5px
                    height: 100%
                    background: $pink
                &::after
                    content: ""
                    position: absolute
                    top: 50%
                    right: 0
                    width: 0
                    height: 0
                    border-top: solid transparent 15px
                    border-bottom: solid transparent 15px
                    border-right: solid 15px $white
                    transform: translateY(-50%)
